* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 2px;
    gap: 2px;

    background-color: black;
}

.display {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 36px;
}

.keyboard {
    display: flex;
    flex: 1;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.number-row {
    display: flex;
}

.number {
    flex: 1;
}

.zero {
    flex-grow: 2;
}

.decimal {
    flex-grow: 1;
}

.operators {
    display: flex;
    flex-direction: column;
}


.number,
.decimal,
.operator {
    color: white;
    background-color: black;
    border: solid 1px white;
    border-radius: 2px;
    margin: 2px;
    font-size: 36px;
}

