* {
    font-family: Roboto;
    /*border: 2px solid red;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 2px;
    gap: 2px;

    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 2px;
    border: 2px solid white;
}

.display {
    text-align: right;
}

.display,
button {
    /*align-self: flex-end;*/
    color: white;
    background-color: black;
    font-size: 36px;
    border: 2px solid white;
    margin: 2px;
    padding: 2px 10px;
    border-radius: 4px;
}

.keyboard {
    display: flex;
    flex: 1;
}

.numbers {
    display: flex;
    flex-direction: column;
}

#ce,
#del {
    flex: 1;
}

.number-row {
    display: flex;
}

.number {
    flex: 1;
}

.zero {
    flex-grow: 4;
}

.decimal {
    flex-grow: 1;
}

.operators {
    display: flex;
    flex-direction: column;
}

.operator {
    flex: 1;
    background-color: white;
    color: black;
}